$ap: ".pp";

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// A map of breakpoints.
$breakpoints: (
  xs: $breakpoint-sm,
  sm: $breakpoint-md,
  md: $breakpoint-lg,
  lg: $breakpoint-xl,
);

:root {
  --body-font: "Poppins", sans-serif;
  --head-font: "Poppins", sans-serif;

  --text-base: 0.25rem;
  --text-xxs: 10px;
  --text-xs: calc(var(--text-base) * 3);
  --text-sm: 14px;
  --text-md: calc(var(--text-base) * 4);
  --text-lg: 18px;
  --text-xl: calc(var(--text-base) * 5);
  --text-2xl: calc(var(--text-base) * 6);
  --text-3xl: calc(var(--text-base) * 7);
  --text-4xl: calc(var(--text-base) * 8);
  --text-5xl: calc(var(--text-base) * 9);
  --text-6xl: calc(var(--text-base) * 12);
  --text-7xl: calc(var(--text-base) * 13);
  --text-8xl: calc(var(--text-base) * 14);
  --text-abnormal: 128px;

  --icon-base: 0.25rem;
  --icon-xs: calc(var(--icon-base) * 2);
  --icon-sm: calc(var(--icon-base) * 3);
  --icon-md: calc(var(--icon-base) * 4);
  --icon-lg: calc(var(--icon-base) * 5);
  --icon-xl: calc(var(--icon-base) * 6);
  --icon-2xl: calc(var(--icon-base) * 7);
  --icon-3xl: calc(var(--icon-base) * 8);
  --icon-4xl: calc(var(--icon-base) * 10);
  --icon-5xl: calc(var(--icon-base) * 12);

  --font-thin: 100;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --size-base: 0.25rem;
  --size-1: var(--size-base);
  --size-2: calc(2 * var(--size-base));
  --size-3: calc(3 * var(--size-base));
  --size-4: calc(4 * var(--size-base));
  --size-5: calc(5 * var(--size-base));
  --size-6: calc(6 * var(--size-base));
  --size-7: calc(7 * var(--size-base));
  --size-8: calc(8 * var(--size-base));
  --size-9: calc(9 * var(--size-base));
  --size-10: calc(10 * var(--size-base));
  --size-12: calc(12 * var(--size-base));
  --size-14: calc(14 * var(--size-base));
  --size-16: calc(16 * var(--size-base));
  --size-18: calc(18 * var(--size-base));
  --size-20: calc(20 * var(--size-base));

  --rounded: 0.25rem;
  --rounded-full: 9999px;

  --header-z: 100;
  --z-1: 1;
  --z-2: 2;
  --z-4: 4;
  --z-6: 6;
  --z-8: 8;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-60: 60;

  // Section spacing
  --section-spacing: 120px;

  //colors
  --color-app: #5e30cf;
  --color-text: #2f2f2f;
  --color-black: #111111;
  --color-gray: #efefef;
  --color-gray1: #c3c3c3;
  --color-gray2: #707070;
}

.bg-red {
  background-color: red;
}
